#p-footer{
    font-size: 10px; 
    color: rgba(190, 190, 190, 0.507); 
    margin-top: 0.5vw;
}

#footer{
    background-color: rgb(17, 17, 17);
    color: white;
    min-width: 780px;
}

#logo-techvision{
    width: 160px;
}   

#contatos1{
    text-decoration: none;
    font-size: 15px;
}

#ico-ctt{
    max-width: 70px;
    padding: 1vh;
}

#ico-ctt2{
    max-width: 70px;
    padding: 1vh;
}

#sub-footer{
    background-color: black;
    color: white;
    min-width: 780px;
}

#link-footer:hover{
  text-decoration: underline;
}