<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">
        <label for="email">Email</label>
        <br>
        <input type="text" name="email">
        <br>
        <br>
        <label for="senha">Senha</label>
        <br>
        <input type="text" name="senha">
        <br>
        <br>
        <input type="submit" value="Continuar">
    </form>
</body>
</html>