body {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.bg-primary {
    background-color: #ffffff !important; /* Cor personalizada */
}

.bg-secondary {
    background-color: #971ed4 !important;
}


.form-label{
    color:  white;
}

#title{
    color: white;
}

.btn{
    color: black;
    background-color: #f8df00;
    border: 0px;
    font-size: 20px;
    font-weight: 500;
}